nav {
  background-image: linear-gradient(blue, red);
}

.sidenav {
  background-image: linear-gradient(blue, red);
}

.sidenav .dropdown-trigger,
.sidenav .material-icons {
  color: white !important;
}

.hbg {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 560px;
  width: 100%;
}

img {
  height: 100px;
  width: 100px;
}

.card {
  background-image: linear-gradient(maroon, blue);
}
.card-title {
  background-color: black;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 3px;
}

.btn {
  border: 1px solid black;
  margin-right: 10px;
}

th,
td {
  padding: 0px !important;
}
tr {
  border: none !important;
}

::placeholder {
  opacity: 0.4;
}

input {
  color: white;
}

.card-action .btn:nth-child(1) {
  background-image: linear-gradient(red, red);
}

.card-action .btn:nth-child(2) {
  background-image: linear-gradient(green, green);
}

.dropdown-content {
  position: relative;
  top: -63px;
  border-radius: 0 30px 0 30px;
}

.dc {
  position: relative;
  top: -50px;
}

.dropdown-content li a {
  color: black;
}

@media only screen and (max-width: 992px) {
  .brand-logo {
    left: 100px !important;
  }
}

.btn1 {
  border-bottom: 2px solid yellow;
}

.row {
  margin-bottom: 0px !important;
}

.hh {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 7px;
  background-image: linear-gradient(maroon, blue);
}

.res {
  overflow-x: auto;
  overflow-y: auto;
}

.table th,
.table td {
  border: 1px solid gray;
  padding: 10px !important;
}

.label {
  font-size: 16px;
  color: white;
  width: 50%;
  padding-top: 2%;
}

.input1 {
  width: 80%;
  display: flex;
  flex-direction: left;
}

.div1 {
  display: flex;
}

.buttondiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button1 {
  background-color: #05a000;
  border: none;
  color: white;
  padding: 1.5% 1.5%;
  text-align: center;
  text-decoration: none;
  border-radius: 5%;
  font-size: 16px;
  margin-right: 1%;
  margin-top: 2%;
  cursor: pointer;
  transition: transform 0.2s;
}
.button2 {
  background-color: #b60303;
  border: none;
  color: white;
  padding: 1.5% 1.5%;
  text-align: center;
  text-decoration: none;
  border-radius: 5%;
  font-size: 16px;
  margin-right: 1%;
  margin-top: 2%;
  cursor: pointer;
  transition: transform 0.2s;
}

.button1:hover {
  transform: scale(
    1.25
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.button2:hover {
  transform: scale(
    1.25
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.formdelete {
  /* padding: 1.5% 1.5%; */
  text-align: center;

  font-size: 16px;
  margin-right: 1%;
  margin-top: 2%;
}
